/* POPPINS FONT LINK */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

/* CSS STARTS FROM HERE */
body {
  font-family: "Poppins", sans-serif;
}
/* HEADER */
header {
  background-color: #2d25a0;
  width: 1517px;
  height: 700px;
}
/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}
nav .left-nav {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 42px;
}
nav .left-nav li {
  list-style: none;
  margin-right: 35px;
}
nav .left-nav li a {
  text-decoration: none;
  color: #ffffff;
}
.right-nav {
  align-items: center;
  margin-top: 35px;
}
.button {
  text-decoration: none;
  color: #fff;
  background-color: #e02c6d;
  padding: 12px 34px;
  transition: ease-out 0.7s;
  outline: none;
}
.button i {
  margin-left: 10px;
}
.button:hover {
  box-shadow: inset 300px 0 0 0 #05fc26;
  color: black;
}
/* Header Last Part */

.header-last {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
  display: flex;
}
/* Left side */
.left-side h1 {
  font-size: 64px;
  width: 485px;
  height: 230px;
  color: #fff;
  line-height: 80px;
  margin-bottom: 50px;
}

/* Right Side */
.right-side img {
  width: 556.01px;
  height: 438px;
  margin-left: 102px;
}
/* HEADER END */

/* Main Part Starts */
main {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main {
  width: 1050px;
  margin-left: 230px;
  margin-right: 210px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
}
.player-info {
  width: 300px;
  padding: 13px;
  box-shadow: 0 0 10px #d1cccc;
}
.player-info img {
  width: 300px;
  height: 256px;
}
.player-info h1 {
  margin: 10px 0;
}
.player-info p {
  color: darkgray;
  margin-top: 10px;
}
/* Main Last Part */
.highlights {
  display: flex;
  margin-top: 165px;
  margin-bottom: 158px;
}
.highlight-info {
  width: 466px;
}
.highlight-info h1 {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 0;
}
.highlight-info p {
  margin-top: 5px;
  margin-bottom: 35px;
  width: 90%;
  color: darkgray;
}
.match-image {
  width: 567px;
  margin-left: 50px;
}
.match-image img {
  width: 100%;
}

/* Main Part End */

/* Footer Part Starts */

footer {
  width: 483.87px;
  height: 213px;
  margin: 0 auto 63px auto;
}
.football-logo {
  width: 400px;
  margin: 0 auto;
}
.football-logo img {
  width: 100%;
}
.social-logo {
  width: 190px;
  margin: 0 auto;
}
.social-logo i {
  background-color: #e7e7e7;
  font-size: 1.3em;
  margin-right: 9px;
  border-radius: 50%;
  padding: 7px;
  color: rgb(165, 165, 165);
  transition: ease-out 0.7s;
  outline: none;
  cursor: pointer;
}
.social-logo i:hover {
  box-shadow: inset 300px 0 0 0 rgb(0, 0, 0);
  color: #fff;
}
.copyright p {
  text-align: center;
  font-size: 19px;
}

/***************
 RESPONSIVE PART 
 ***************/

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}
