/* POPPINS FONT LINK */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

/* CSS STARTS FROM HERE */
body {
  font-family: "Poppins", sans-serif;
}
/* HEADER */
header {
  background-color: #2d25a0;
  width: 1517px;
  height: 700px;
}
/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}
nav .left-nav {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 42px;
}
nav .left-nav li {
  list-style: none;
  margin-right: 35px;
}
nav .left-nav li a {
  text-decoration: none;
  color: #ffffff;
}
.right-nav {
  align-items: center;
  margin-top: 35px;
}
.button {
  text-decoration: none;
  color: #fff;
  background-color: #e02c6d;
  padding: 12px 34px;
  transition: ease-out 0.7s;
  outline: none;
}
.button i {
  margin-left: 10px;
}
.button:hover {
  box-shadow: inset 300px 0 0 0 #05fc26;
  color: black;
}
/* Header Last Part */

.header-last {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
  display: flex;
}
/* Left side */
.left-side h1 {
  font-size: 64px;
  width: 485px;
  height: 230px;
  color: #fff;
  line-height: 80px;
  margin-bottom: 50px;
}

/* Right Side */
.right-side img {
  width: 556.01px;
  height: 438px;
  margin-left: 102px;
}
header:hover .right-side img {
  transform: scale(1.08) skew(-3deg);
  transition: all 0.8s ease-in-out;
}
/* HEADER END */

/* Main Part Starts */

main {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main {
  width: 1050px;
  margin-left: 230px;
  margin-right: 210px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
}
.player-info {
  width: 300px;
  padding: 13px;
  box-shadow: 0 0 10px #d1cccc;
}
.player-info img {
  width: 300px;
  height: 256px;
}
.player-info h1 {
  margin: 10px 0;
}
.player-info p {
  color: darkgray;
  margin-top: 10px;
}

/* Main Last Part */

.highlights {
  display: flex;
  margin-top: 165px;
  margin-bottom: 158px;
}
.highlight-info {
  width: 466px;
}
.highlight-info h1 {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 0;
}
.highlight-info p {
  margin-top: 5px;
  margin-bottom: 35px;
  width: 90%;
  color: darkgray;
}
.match-image {
  width: 567px;
  margin-left: 50px;
}
.match-image:hover {
  background-image: url(images/messi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.match-image:hover img {
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.match-image img {
  width: 100%;
}

/* Main Part End */

/* All Highlights Here */
.all-highlights {
  margin-left: 230px;
  margin-right: 210px;
  margin-bottom: 150px;
  padding-bottom: 50px;
}
.all-highlights h1 {
  text-align: center;
  margin-bottom: 50px;
}
.all-highlights .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 60px;
  margin-left: 80px;
  margin-bottom: 100px;
}
.highlight {
  width: 250px;
}
.highlight img {
  width: 224px;
  height: 127px;
}
.highlight p {
  font-size: 17px;
  margin-top: 8px;
}
#more {
  background-color: chocolate;
}
/* HIGHLIGHT ENDS */

/* Footer-1 */
.footer-1 {
  display: flex;
  width: 70%;
  margin: 50px auto 50px auto;
}
.footer-1 .left {
  margin: 0 auto;
}
.footer-1 .right {
  margin: 0 auto;
}
.footer-1 p {
  font-size: 12px;
  cursor: pointer;
}
/* footer-1 ends */

/* Footer-2 Part Starts */

footer {
  width: 483.87px;
  height: 213px;
  margin: 60px auto 63px auto;
}
.football-logo {
  width: 400px;
  margin: 0 auto;
}
.football-logo img {
  width: 100%;
}
.social-logo {
  width: 190px;
  margin: 0 auto;
}
.social-logo i {
  background-color: #e7e7e7;
  font-size: 1.3em;
  margin-right: 9px;
  border-radius: 50%;
  padding: 7px;
  color: rgb(165, 165, 165);
  transition: ease-out 0.7s;
  outline: none;
  cursor: pointer;
}
.social-logo i:hover {
  box-shadow: inset 300px 0 0 0 rgb(0, 0, 0);
  color: #fff;
}
.copyright p {
  text-align: center;
  font-size: 19px;
}
/* END OF FOOTER-2 PART */

/***************
 RESPONSIVE PART 
 ***************/
@media only screen and (max-width: 688px) {
  /* For mobile phones: */
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  header {
    padding: 13px;
    margin: 0;
    width: 110%;
    height: 700px;
  }
  header nav {
    width: 100%;
    display: none;
  }
  nav .left-nav {
    width: 100%;
    flex-direction: column;
  }
  nav ul {
    width: 100%;
  }
  .header-last {
    width: 100%;
    display: block;
    margin-top: 40px;
    margin-left: 10px;
  }
  .left-side h1 {
    height: 170px;
    font-size: 37px;
    width: 70%;
    line-height: 50px;
    margin-bottom: 0;
  }
  .right-side {
    width: 100%;
    margin-top: 70px;
  }
  .right-side img {
    height: 300px;
    width: 80%;
    margin-left: 10px;
  }
  main {
    width: 100%;
    margin-top: 85px;
    margin-right: 0;
  }
  .main {
    width: 100%;
    margin: 0;
    padding-bottom: 0px;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .player-info {
    margin-left: 45px;
    padding: 25px;
  }
  .highlights {
    display: block;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 100%;
  }
  .highlight-info {
    width: 100%;
    padding-bottom: 30px;
    margin-left: 40px;
  }
  .highlight-info h1 {
    width: 100%;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 0;
  }
  .match-image {
    width: 90%;
    margin-left: 40px;
  }
  .match-image img {
    width: 100%;
  }
  .all-highlights {
    width: 100%;
    margin-left: 40px;
    margin-right: 0;
    margin-bottom: 150px;
    padding-bottom: 50px;
  }
  .all-highlights .container {
    display: grid;
    margin-left: 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .all-highlights h1 {
    width: 100%;
    margin: 0 0 40px 0;
    width: 170px;
    padding: 0;
    text-align: center;
  }
  .footer-1 {
    margin: 0;
    width: 100%;
  }

  hr {
    width: 70%;
  }
  footer {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .football-logo {
    width: 60%;
  }
  .football-logo img {
    width: 100%;
  }
}
/* END OF RESPONSIVE PART */
